$orange: #ff9d80;
$light-orange: #ffd8cc;
$orange-gray:#f9f0ea;
$black: #000000;
$deep-gray: #7c7c7c;
$gray: #9d9d9d;
$light-gray: #c3c2c3;
$white: #ffffff;

$primary-color: $orange-gray;
$secondary-color: $orange;