@import '../abstracts/colors';

body {
  background-color: $primary-color;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $black;
}

a {
  font-weight: bold;
  color: $deep-gray;
}